body,
html {
  background: url("../img/slider-bg.jpg ") no-repeat center fixed;
  background-size: cover;
  height: 100%;
  width: auto;
  margin: 0px 0px 0px;
  padding: 0px 0px 0px;
}

/* Moblie: width < 740px (46.1475em) */
@media screen and (max-width: 46.1875em) {
  .container {
    text-align: center;
    display: block;
    margin: 0px 0px 0px;
    padding: 15px 0px 0px;
    height: 10%;
    width: 100%;
    background-color: #363940;
  }

  #page-logo {
    height: 30%;
    display: inline-block;
  }

  .current-section {
    display: flex;
    margin: 0 auto;
    /* background-color: white; */
    width: 30vw;
    height: 10px;
  }

  .section-index {
    display: block;
    height: 10px;
    width: 10px;
    margin: 0 auto;
    background-color: white;
    border-radius: 50px;
    opacity: 50%;
  }

  .navbar {
    display: block;
    margin-top: 10px;
  }

  .navbar-item {
    color: #a9a9a9;
    text-decoration: none;
    font-weight: bolder;
    padding-right: 5%;
    padding-left: 5%;
  }

  .navbar-hover {
    color: white;
  }

  #search-bar {
    display: none;
  }

  .body-block {
    display: block;
    margin: 0px 0px 0px;
    height: 72%;
    width: auto;
    overflow: scroll;
  }

  .playlist {
    justify-content: center;
    padding-top: 2%;
  }

  #cd {
    background-image: url(../img/slider-bg.jpg);
    background-size: cover;
    margin-top: 5px;
    /* margin-left: 3%; */
    height: 60px;
    width: 60px;
    background-color: lightblue;
    border-radius: 50px;
  }

  .btn-control {
    margin-top: 15px;
    margin-left: 5%;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50px;
    /* background-color: lightblue; */
  }

  #btn-play-img {
    display: block;
    height: 100%;
  }

  #btn-pause-img {
    display: none;
    height: 100%;
  }

  #btn-prev-img {
    display: block;
    height: 40px;
  }

  #btn-next-img {
    display: block;
    height: 40px;
  }

  #btn-random-img {
    display: block;
    height: 40px;
  }

  #btn-repeat-img {
    display: block;
    height: 40px;
    border-radius: 50px;
  }

  .btn-control .active {
    border: 1px solid purple;
    border-radius: 50px;
  }
}

/* Table: width < 740px (46.1475em) */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .container {
    display: flex;
    margin: 0px 0px 0px;
    padding: 15px 15px 0px;
    height: 7%;
    width: 100%;
    background-color: #363940;
  }

  #page-logo {
    height: 70%;
    margin-right: 10%;
  }

  .current-section {
    display: flex;
    height: 30%;
    width: 10%;
    margin-top: 15px;
  }

  .section-index {
    margin-right: 15px;
    height: 20px;
    width: 20px;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 50px;
    opacity: 50%;
  }

  .navbar {
    overflow: hidden;
    margin-top: 15px;
  }

  .navbar-item {
    padding: 15px 15px 0px;
    font-size: 20px;
    font-weight: bolder;
    color: #a9a9a9;
    text-decoration: none;
  }

  .navbar-item:hover {
    color: white;
  }

  #search-bar {
    display: none;
  }
  .body-block {
    display: block;
    margin: 0px 0px 0px;
    height: 79%;
    width: auto;
    overflow: scroll;
  }

  .playlist {
    justify-content: center;
    /* padding-top: 2%; */
  }

  #cd {
    background-image: url(../img/slider-bg.jpg);
    background-size: cover;
    margin-top: 1%;
    /* margin-left: 3%; */
    height: 60px;
    width: 60px;
    background-color: lightblue;
    border-radius: 50px;
  }

  .btn-control {
    margin-top: 1.5%;
    margin-left: 5%;
    height: 40px;
    width: 40px;
    /* border: 1px solid white; */
    border-radius: 50px;
    /* background-color: lightblue; */
  }

  #btn-play-img {
    display: block;
    height: 100%;
  }

  #btn-pause-img {
    display: none;
    height: 100%;
  }

  #btn-prev-img {
    display: block;
    height: 40px;
  }

  #btn-next-img {
    display: block;
    height: 40px;
  }

  #btn-random-img {
    display: block;
    height: 40px;
  }

  #btn-repeat-img {
    display: block;
    height: 40px;
    border-radius: 50px;
  }

  .btn-control .active {
    border: 1px solid red;
  }
  .btn-control:hover {
    opacity: 50%;
  }
}

/* PC: width < 740px (46.1475em) */
@media screen and (min-width: 64em) {
  .container {
    display: flex;
    margin: 0px 0px 0px;
    padding: 15px 15px 0px;
    height: 7%;
    width: 100%;
    background-color: #363940;
  }

  #page-logo {
    height: 70%;
    margin-right: 10%;
  }

  .current-section {
    display: flex;
    height: 30%;
    width: 10%;
    margin-top: 15px;
  }

  .section-index {
    margin-right: 15px;
    height: 20px;
    width: 20px;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 50px;
    opacity: 50%;
  }

  .navbar {
    overflow: hidden;
    margin-top: 15px;
  }

  .navbar-item {
    padding: 15px 15px 0px;
    font-size: 20px;
    font-weight: bolder;
    color: #a9a9a9;
    text-decoration: none;
  }

  .navbar-item:hover {
    color: white;
  }

  #search-bar {
    margin-top: 10px;
    margin-left: 50px;
    height: 40%;
    width: 20%;
  }

  .body-block {
    display: block;
    margin: 0px 0px 0px;
    height: 79%;
    width: auto;
    overflow: scroll;
  }

  .playlist {
    justify-content: center;
    /* padding-top: 2%; */
  }

  #cd {
    background-image: url(../img/slider-bg.jpg);
    background-size: cover;
    margin-top: 1%;
    /* margin-left: 3%; */
    height: 60px;
    width: 60px;
    background-color: lightblue;
    border-radius: 50px;
  }

  .btn-control {
    margin-top: 1.5%;
    margin-left: 5%;
    height: 40px;
    width: 40px;
    /* border: 1px solid white; */
    border-radius: 50px;
    /* background-color: lightblue; */
  }

  #btn-play-img {
    display: block;
    height: 100%;
  }

  #btn-pause-img {
    display: none;
    height: 100%;
  }

  #btn-prev-img {
    display: block;
    height: 40px;
  }

  #btn-next-img {
    display: block;
    height: 40px;
  }

  #btn-random-img {
    display: block;
    height: 40px;
  }

  #btn-repeat-img {
    display: block;
    height: 40px;
    border-radius: 50px;
  }

  .btn-control .active {
    border: 1px solid red;
  }

  .btn-control:hover {
    opacity: 50%;
  }
}

.playlist {
  border-top: 1px solid lightblue;
  display: flex;
  margin: 0px 0px 0px;
  width: auto;
  height: 10%;
}

::-webkit-scrollbar {
  display: none;
}

section {
  width: 100vw;
  height: 75vh;
  display: block;
  border-bottom: 1px solid white;
}

section.active {
  display: block;
}

.current-section #isActive {
  background-color: yellow;
}

.progress {
  width: 100vw;
  margin: 0px 0px 0px;
  padding: 0px 0px 0px;
  background-color: lightblue;
}

input[type="range"] {
  -webkit-appearance: none;
  /* margin-right: 15px; */
  height: 3px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(yellow, yellow);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: yellow;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.volume {
  background-image: url("../img/volume-icon.png");
  background-size: cover;
  float: right;
  position: fixed;
  width: 20px;
  height: 20px;
  /* background-color: blanchedalmond; */
  right: 2%;
  top: 3%;
}
